
												/**** GLOBAL NAV BAR ****/
.site{
	z-index: -1;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	min-width: 1045px;
}

.bar{
	 font-family: 'Avenir';
	 font-size: 34px;
	 border-bottom: 1px solid orange;
	 margin-left: 12%;
	 margin-right:9%;
	 margin-top:6%;
	 top: 2%;
}

.bar .signup {
	top: 2.5%;
	right: 24%;
	font-size: 25px;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;
}

.bar .signup:hover {
    border: none;
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}

.bar .signin {
	top: 2.5%;
	right: 35%;
	font-size: 25px;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;

}

.bar .signin:hover {
	border: none;
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}


.bar .listItem {
	top: 2.5%;
	right: 45%;
	font-size: 25px;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;

}

.bar .listItem:hover {
    border: none;
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}


.bar .myProfile {

	font-size: 25px;
	top: 2.5%;
	right: 11%;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;
}


.bar .myProfile:hover {
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}

.bar .title {
	background-image: url(https://imgur.com/pLBUGGD);
	right: 90%;
	top: 2%;
	position: fixed;
}

.bar .title:hover {
	cursor: pointer;
}

.logoutButton{
	font-size: 25px;
	top: .5%;
	left: 95%;
	position: absolute;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;	
	border: none;
	background-color: white;
	color: black;
}

#logoutModal {
    margin: 0 auto;
    border: none;
    width: 10%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-family: 'Avenir';
    font-style: italic;
    font-size: 16px;
    font-family: "Avenir";
    float: right;
    margin-top: 20px;
}

.logoutButton:hover {
	color: #0099ff;
	transform: scale(1.1);
	content: 'change';
}



/************************************* GLOBAL NAV SEARCH *************************************/





.bar .searchbar {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 2.5%;
	right: 76%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #99ff99;
	border-radius: 5px 5px 5px 5px;
}

.bar .searchbar:hover {
	transform: scale(1.03);
}

.bar .zipSearchbar {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 2.5%;
	right: 64%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #99ff99;
	border-radius: 5px 5px 5px 5px;
	
}

.bar .zipSearchbar:hover {
	transform: scale(1.03);
}

.searchSubmitButton {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 4.2%;
	right: 58%;
	position: absolute;
	margin-top: 5%;
	margin: 0;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
}

.searchSubmitButton:hover {

	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);

}


.signupButton{
	font-style: italic;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 80px;
	display: block;
	padding: 5px 15px;
	font-family: 'Avenir';
	outline: none;
	cursor: pointer;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
	width: 20%;
}



.userSignup{
	font-style: italic;
	font-family: 'Avenir';
	font-size: 16px;
	width: 20%;
	padding: 5px 15px;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
	display: block;
	margin-top: 160px;
}

.userPassword{
	font-style: italic;
	font-family: 'Avenir';
	font-size: 16px;
	width: 20%;
	padding: 5px 15px;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

.emailSignup{
	font-style: italic;
	font-family: 'Avenir';
	font-size: 16px;
	width: 20%;
	padding: 5px 15px;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}































/*********************************************  LOGIN PAGE ******************************************/



.loginUserInput {
	font-style: italic;
	font-color: red;
	font-size: 16px;
	font-family: 'Avenir';
	margin: 0 auto;
	margin-top: 160px;
	display: block;
	padding: 5px 15px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	width: 20%;
}

.loginPassInput {
	font-style: italic;
	font-color: red;
	font-size: 16px;
	font-family: 'Avenir';
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	padding: 5px 15px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	width: 20%;
}

.loginButton{
	font-style: italic;
	font-color: red;
	font-size: 16px;
	font-family: 'Avenir';
	margin: 0 auto;
	margin-top: 80px;
	display: block;
	padding: 5px 15px;
	outline: none;
	cursor: pointer;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
	width: 20%;
}

#signinModal {
	margin: 0 auto;
    border: none;
    width: 10%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-family: 'Avenir';
    font-style: italic;
    font-size: 16px;
    font-family: "Avenir";
    float: center;
    margin-top: 20px;
}


































				/************************************************  HOME PAGE *******************************************/


.red{
	color: #ff8533;
}


.HomePageGreeting {
	font-family: 'Avenir';
  	font-weight: bolder;
	font-size: 60px;
	text-align: center;
	padding-top: 12%;
	margin: 0 auto;
	display: block;
}


.HomePageDescription {
	float: center;
    padding-top: 11%;
	font-family: 'Avenir';
	font-size: 28px;
	font-style: italic;
	text-align: center;
	/*font-weight: bolder;*/
	width: 40%;
	margin: 0 auto;
	display: block;
}

.github{
	font-size:13px;
	right: 48%;
	bottom: 1%;
	color: #b3cccc;
	position: fixed;
}































				/************************************************  USER PAGE *******************************************/

.site .userPage {
  font-family: 'Avenir';
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.userPage .userContainer{
	
}

.userPage .userGreeting {
	font-size: 23px;
    text-align: center;
	padding-bottom: 40px;
	margin-top: 45px;
}

.yourStuffForRent {
	text-align: center;
	padding-bottom: 40px;
	margin-top: 30px;
}

.rentTitle{
	text-align: center;
	margin-bottom: 20px;
}

.userPage .yourItemForRent {
	padding-top: 5px;
	margin-left: 5%;
	color: #0099ff;
	width: 240px;
	text-align: center;
	margin: 0 auto;
}

.yourItemForRent:hover {
 	color: #66ff66;
    cursor: pointer; 
    transform: scale(1.05);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #c2d6d6;

}

.rentalTime{
	font-size: 12px;
}

.userPage .stuffYouAreRenting {
	
}

.userPage .stuffYouAreRenting .itemYouAreRenting {

}

.userPage .stuffOthersAreRentingFromYou {
	
}

.userPage .stuffOthersAreRentingFromYou .itemBeingRentedFromYou {

}

.noItemsYet{
	padding-top: 5px;
	margin-left: 5%;
	color: #0099ff;
	width: 240px;
	text-align: center;
	margin: 0 auto;
}





												/************************************************  ITEM PAGE *******************************************/

.itemPage {
	font-family: 'Avenir';
}


.itemDetails {
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 19px;
	font-family: 'Avenir';
	color: #0099ff;

}

.locatedIn {
	color: black
}

.perHour {
	color: black;
}

.itemPhoto {
    width: auto;
    margin: 0 auto;
    display: block;
}
 
.itemDetails .itemName {
	padding-top: 2%;
 	font-size: 24px;
 	font-weight: bolder;
 	color: black;
}

.itemPage .bookingDiv {
    margin: 0 auto;
    display: block;
	background-color: rgba(255,255,255,0.75);
	border-radius: 5px 5px 5px 5px;
	padding-top: 30px;
    padding-bottom: 30px;
}


.itemPage .rentItemDiv {

}


.itemPage .bookingCalendarDiv {
}

.bookingDiv{
	padding-top: 20px;
    padding-bottom: 20px;
}


.bookItemButton {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: auto;
    width: 20%;
    margin-top: 15px;
}


.bookStartDate{
	font-style: italic;
	font-color: red;
	font-family: 'Avenir';
	font-size: 16px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    width: 20%;

}

.bookStartDateWord {
	font-style: italic;
	font-color: red;
	font-family: 'Avenir';
	font-size: 19px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}
 
 .bookEndDate{
	font-style: italic;
	font-color: red;
	font-family: 'Avenir';
	font-size: 16px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 15px;
    width: 20%;
}

.bookEndDateWord {
	font-style: italic;
	font-color: red;
	font-family: 'Avenir';
	font-size: 19px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#myModal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-family: 'Avenir';
    font-style: italic;
    transition: visibility 0s 2s, opacity 2s linear;
    }

#rejectionModal {
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    display: none;
    border-radius: 5px 5px 5px 5px;
    transition: opacity 2s linear;
    text-align: center;
    font-family: 'Avenir';
    font-style: italic;
    transition: visibility 0s 2s, opacity 2s linear;
}













				/************************************************  RESULTS PAGE *******************************************/

.resultsContainer{
	font-family: 'Avenir';
	width: 600px;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	color:  black;
	border-radius: 5px 5px 5px 5px;
	padding-bottom: 20px;
}

.searchResult {
	width: 400px;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	color: #0099ff;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 20px; 
	cursor: pointer;
}

.searchResult:hover {
	border: 1px solid #c2d6d6;
	transform: scale(1.1);
	border-radius: 5px 5px 5px 5px;
	color: #66ff66;
}

.results {
  font-family: 'Avenir';
  font-size: 20px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.result {
  font-family: 'Avenir';
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 40%;
  border-right: 40%; 
}

.result:hover{
	/*transform: scale(1.1);*/
}


a {
  position: relative;
  display: inline-block;
}

a:link {
    color: #ffbf00;
    text-decoration: none;
}

a:visited {
    color: #ff8080;
}

a:hover {
    color:#b3cccc;
    display: block;
}

.notFound{
	font-family: 'Avenir';
	font-size: 23px;
    text-align: center;
	padding-top: 40px;
}













					/************************************************  MAKE NEW LISTING PAGE *******************************************/


.itemNameInput {
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
    margin-top: 100px;
}

.photoInput{
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3;
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
}

.newListingInput1{
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3;
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
}

.newListingInput2{
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
}

.priceInput{	
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3;
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
}

.locationInput{
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
}

.itemDescriptionInput{	
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	border: 1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
}

.newListingButton {
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size: 16px;
	font-style: italic;
	outline: none;
	cursor: pointer;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
    display: block;
    width: 20%;
    margin-top: 30px;
}

.bookingPopup {
  position: absolute;
  z-index: 50;
  right: 0;

  display: none;

  width: 394px;
  margin-top: 15px;
  margin-right: 7%;
  padding: 25px 25px 20px;

  border: 1px solid #999;
  background-color: #fff;
}


