
												/**** GLOBAL NAV BAR ****/
.site{
	z-index: -1;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	min-width: 1045px;
}

.bar{
	 font-family: 'Avenir';
	 font-size: 34px;
	 border-bottom: 1px solid orange;
	 margin-left: 12%;
	 margin-right:9%;
	 margin-top:6%;
	 top:2%;

}

.bar .signup {
	top: 2.5%;
	right: 24%;
	font-size: 25px;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;
}

.bar .signup:hover {
    border: none;
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}

.bar .signin {
	top: 2.5%;
	right: 35%;
	font-size: 25px;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;

}

.bar .signin:hover {
	border: none;
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}


.bar .listItem {
	top: 2.5%;
	right: 45%;
	font-size: 25px;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;

}

.bar .listItem:hover {
    border: none;
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}


.bar .myProfile {

	font-size: 25px;
	top: 2.5%;
	right: 11%;
	position: absolute;
	margin-top: 1%;
	font-weight: bolder;
}


.bar .myProfile:hover {
    color: #66ff66;
    cursor: pointer; 
    cursor: hand;
    transform: scale(1.1);
}

.bar .title {
	background-image: url(http://imgur.com/pLBUGGD);
	right: 90%;
	top: 2%;
	position: fixed;
}

.bar .title:hover {
	cursor: pointer;
}




/************************************* GLOBAL NAV SEARCH *************************************/





.bar .searchbar {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 2.5%;
	right: 75%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #99ff99;
	border-radius: 5px 5px 5px 5px;
}

.bar .searchbar:hover {
	transform: scale(1.03);
}

.bar .zipSearchbar {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 2.5%;
	right: 63%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #99ff99;
	border-radius: 5px 5px 5px 5px;
	
}

.bar .zipSearchbar:hover {
	transform: scale(1.03);
}

.searchSubmitButton {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 4.2%;
	right: 57%;
	position: absolute;
	margin-top: 5%;
	margin: 0;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
}

.searchSubmitButton:hover {

	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);

}

.signupContainer{

	font-family: 'Avenir';
	width: 600px;
	font-size: 35px;
	margin: 0 auto;
	text-align: center;
	color:  #f2f2f2;
	text-shadow: 1px 1px black;
	font-weight: bolder;
	width: 850px;
	background-color: rgba(255,255,255,0.4);
	border-radius: 5px 5px 5px 5px;
	margin-top: 6%;
	margin-bottom: 15%;
	margin-right: 20%;
	margin-left: 20%;

}

.signupContainer .signupButton{
	font-style: italic;
	font-size: 35px;
	font-color: red;
	top: 46.75%;
	right: 23%;
	position: absolute;
	margin-top: 20%;
	margin: 0;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
}



.signupContainer .userSignup{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 45%;
	right: 63%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.signupContainer .userPassword{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 45%;
	right: 48%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.signupContainer .emailSignup{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 45%;
	right: 33%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}































/*********************************************  LOGIN PAGE ******************************************/



.loginUserInput {
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 45%;
	right: 55%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.loginPassInput {
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 45%;
	right: 40%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;

}

.loginButton{
	font-style: italic;
	font-size: 35px;
	font-color: red;
	top: 46.75%;
	right: 30%;
	position: absolute;
	margin-top: 20%;
	margin: 0;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;

}

.logoutButton{
	font-style: italic;
	font-size: 35px;
	font-color: red;
	top: .5%;
	left: 94.5%;
	position: absolute;
	margin-top: 20%;
	margin: 0;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
}



































				/************************************************  HOME PAGE *******************************************/

#home {

}

.red{
	color: #ff8533;
}

.HomePageMain {


}

.HomePageGreeting {
	font-family: 'Avenir';
  	font-weight: bolder;
	font-size: 60px;

	text-align: center;
	padding-top: 12%;
}


.HomePageDescription {
	float: center;

    padding-top: 11%;
	font-family: 'Avenir';
	font-size: 35px;
	font-style: italic;
	text-align: center;
	font-weight: bolder;
}

.github{
	font-size:10px;

	right: 48%;
	bottom: 1%;
	color: #b3cccc;
}































				/************************************************  USER PAGE *******************************************/

.site .userPage {
  font-family: 'Avenir';
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.userPage .userContainer{
	
}

.userPage .userGreeting {
	font-size: 23px;
    text-align: center;
	padding-bottom: 40px;
}

.yourStuffForRent {
	text-align: center;
	padding-bottom: 40px;
}

.rentTitle{
	text-align: center;
	margin-bottom: 20px;
}

.userPage .yourItemForRent {
	padding-top: 5px;
	margin-left: 5%;
	color: #0099ff;
	width: 240px;
	text-align: center;
	margin: 0 auto;
}

.yourItemForRent:hover {
 	color: #66ff66;
    cursor: pointer; 
    transform: scale(1.05);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #c2d6d6;

}

.rentalTime{
	font-size: 12px;
}

.userPage .stuffYouAreRenting {
	
}

.userPage .stuffYouAreRenting .itemYouAreRenting {

}

.userPage .stuffOthersAreRentingFromYou {
	
}

.userPage .stuffOthersAreRentingFromYou .itemBeingRentedFromYou {

}





												/************************************************  ITEM PAGE *******************************************/

.itemPage {
	font-family: 'Avenir';
/*	width: 800px;
	min-height: 750px;
	margin: 0 auto;
	padding-top: 20px;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px 5px 5px 5px;*/
}


.itemDetails {
margin: 0 auto;
display: block;
	text-align: center;
	font-size: 19px;
	font-family: 'Avenir';

}

.itemPhoto {
    width: auto;
    margin: 0 auto;
    display: block;
	/*margin-left:25%;
	margin-right: 25%;*/
     
}
 
.itemDetails .itemName {
	padding-top: 2%;
 	font-size: 21px;
 	font-weight: bolder;
}

/*.itemDetails .itemDescription {
 	padding-left: 3%;
 	padding-right: 3%;
}

.itemDetails .itemZip {

}


.itemDetails .itemPrice {
	padding-bottom: 2%;
}*/

.itemPage .bookingDiv {
	

    margin: 0 auto;
    display: block;
	background-color: rgba(255,255,255,0.75);
	border-radius: 5px 5px 5px 5px;
	  padding-top: 30px;
    padding-bottom: 30px;
}


.itemPage .rentItemDiv {

}


.itemPage .bookingCalendarDiv {
}

.bookingDiv{
	      padding-top: 20px;
    padding-bottom: 20px;
}


.bookItemButton {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
	width: 5%;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}


.bookStartDate{
	font-style: italic;
	font-size: 23px;
	font-color: red;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    display: block;
    text-align: center;
      padding-top: 10px;
    padding-bottom: 10px;
}

.bookStartDateWord {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	font-family: 'Avenir';
	font-size:14px;
    margin: 0 auto;
    display: block;
    text-align: center;
      padding-top: 10px;
    padding-bottom: 10px;
}
 
 .bookEndDate{
	font-style: italic;
	font-size: 23px;
	font-color: red;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    display: block;
       padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.bookEndDateWord {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	font-family: 'Avenir';
	font-size:14px;


    margin: 0 auto;
    display: block;
   /*    padding-top: 10px;
    padding-bottom: 10px;*/
    text-align: center;
}


















				/************************************************  RESULTS PAGE *******************************************/

.resultsContainer{
	font-family: 'Avenir';
	width: 600px;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	color:  black;
	border-radius: 5px 5px 5px 5px;
	padding-bottom: 20px;
}

.searchResult {
	width: 400px;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	color: #0099ff;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 20px; 
	cursor: pointer;
}

.searchResult:hover {
	border: 1px solid #c2d6d6;
	transform: scale(1.1);
	border-radius: 5px 5px 5px 5px;
	color: #66ff66;
}

.results {
  font-family: 'Avenir';
  font-size: 20px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.result {
  font-family: 'Avenir';
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 40%;
  border-right: 40%; 
}

.result:hover{
	/*transform: scale(1.1);*/
}


a {
  position: relative;
  display: inline-block;
}

a:link {
    color: #ffbf00;
    text-decoration: none;
}

a:visited {
    color: #ff8080;
}

a:hover {
    color:#b3cccc;
    display: block;
}

.notFound{
	font-family: 'Avenir';
	font-size: 23px;
    text-align: center;
	padding-top: 40px;
}













					/************************************************  MAKE NEW LISTING PAGE *******************************************/



/*.newListingContainer {
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px 5px 5px 5px;
}*/

.newListing {
	font-family: 'Avenir';
	font-size:16px;
	position: static;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.newListingTitle{
	font-family: 'Avenir';
	text-align: center;
	position: relative;
}

.itemNameInput {
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 25%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.photoInput{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 30%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3;
	border-radius: 5px 5px 5px 5px;
}

.newListingInput1{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 35%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3;
	border-radius: 5px 5px 5px 5px;
}

.newListingInput2{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 40%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.priceInput{	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 45%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3;
	border-radius: 5px 5px 5px 5px;
}

.locationInput{
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 50%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.itemDescriptionInput{	
	font-style: italic;
	font-size: 28px;
	font-color: red;
	top: 55%;
	right: 44%;
	position: absolute;
	margin-top: 1%;
	width: 130px;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	border:1px solid #0076a3; 
	border-radius: 5px 5px 5px 5px;
}

.newListingButton {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 75%;
	right: 45%;
	position: absolute;
	margin-top: 5%;
	margin: 0;
	padding: 5px 15px;
	font-family: 'Avenir';
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; 
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-radius: 5px 5px 5px 5px;
}


