
												/**** GLOBAL NAV BAR ****/

.bar{
 font-family: 'Helvetica', 'Arial';
 font-size: 31px;
 color: black;

/* border: 1px solid black;*/
} 

.bar .signup {
	top: 1.5%;
	right: 15%;
	font-size: 23px;
	position: fixed;

}

.bar .listItem {
	top: 1.5%;
	right: 30%;
	font-size: 23px;
	position: fixed;
}


.bar .myProfile {
	
	font-size: 23px;
	top: 1.5%;
	right: 5%;
	position: fixed;

}

.bar .title {
	right: 90%;

}

.bar .searchbar {
	font-size: 20px;
	top: 1.5%;
	right: 50%;
	position: fixed;

}

												/**** HOME PAGE ****/

.HomePageGreeting {
	font-family: 'Helvetica', 'Arial';
	font-size: 34px;
	position: absolute;
	top: 40%;
	bottom: 60%;
	right: 40%;
	float: center;

}


.HomePageMain {

}

												/**** USER PAGE ****/

.userGreeting {
		font-size: 30px;
	top: 20%;
	right: 80%;
	position: absolute;

}

.yourStuffForRent {
	font-size:26px;
	position: absolute;
	top: 30%;
	right:70%;
	border: 1px solid black;
	margin-left: auto;
    margin-right: auto;
}

.yourStuffForRent .yourItemForRent {
	position: relative;
	font-size: 20px;
}

.stuffYouAreRenting {

	font-size:26px;
	position: absolute;
	top:40%;
	right:64%;
	border: 1px solid black;
	margin-left: auto;
    margin-right: auto;
}

.stuffYouAreRenting .itemYouAreRenting {
	font-size: 20px;

}
