
												/**** GLOBAL NAV BAR ****/

.bar{
 font-family: 'Avenir';
 font-size: 34px;
 color: black;
 border-bottom: 1px solid orange;
 margin-left: 10%;
 margin-right:9%;
 margin-top:2%;

/* border: 1px solid black;*/
}

.bar .signup {
	top: 1.5%;
	right: 20%;
	font-size: 23px;
	position: fixed;
	margin-top: 1%;

}

.bar .listItem {
	top: 1.5%;
	right: 35%;
	font-size: 23px;
	position: fixed;
	margin-top: 1%;
}


.bar .myProfile {

	font-size: 23px;
	top: 1.5%;
	right: 10%;
	position: fixed;
	margin-top: 1%;

}

.bar .title {
	right: 90%;
}

.bar .searchbar {
	font-style: italic;
	font-size: 23px;
	font-color: red;
	top: 1.5%;
	right: 55%;
	position: fixed;
	margin-top: 1%;
	border: none;
}

												/**** HOME PAGE ****/

#home {


}

.HomePageMain {

	
}


.HomePageGreeting {
	font-family: 'Avenir';
	font-size: 34px;
	position: absolute;
	top: 40%;
	bottom: 60%;
	right: 40%;
	float: center;
}





												/**** USER PAGE ****/

.userGreeting {
	font-family: 'Avenir';
	font-size: 30px;
	top: 30%;
	right: 80%;
	position: static;
	/*border-bottom: .5px dotted black;*/
	margin-top: 30px;
	margin-bottom: 80px;
	margin-left: 5%;
	margin-right: 5%;

}

.yourStuffForRent {
	font-family: 'Avenir';
	font-size:26px;
	position: static;
	top: 30%;
	right:70%;
/*	border-bottom: .5px dotted black;*/
	margin-left: 15px;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

.yourStuffForRent .yourItemForRent {
	position: relative;
	font-size: 20px;
	margin-left: 20px;
}

.stuffYouAreRenting {
	font-family: 'Avenir';
	font-size:26px;
	position: static;
	top:40%;
	right:64%;
/*	border-bottom: .5px dotted black;*/

	margin-left: 15px;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 40px;

}

.stuffYouAreRenting .itemYouAreRenting {
	font-size: 20px;
	margin-left: 20px;

}

.stuffOthersAreRentingFromYou {
	font-family: 'Avenir';
	font-size:26px;
	position: static;
	top: 55%;
	right:70%;
/*	border-bottom: .5px dotted black;*/
	margin-left: 15px;
    margin-right: auto;
    margin-top: 15px;
}

.stuffOthersAreRentingFromYou .itemBeingRentedFromYou {
	font-size: 20px;
	margin-left: 20px;
}


.newListing {
  font-family: 'Avenir';
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

												/**** ITEM PAGE ****/

.itemPage {
	font-family: 'Avenir'
}

.itemPage .itemName {
	font-size:30px;
	position: static;
/*	border-bottom: .5px dotted black;*/
	margin-left: 65px;
    margin-right: auto;
    margin-top: 115px;

}

.itemPage .itemPhoto {
	margin-left: 350px;
	margin-top: 100px;
	margin-right: auto;
	position:static;
	box-shadow: 2px 2px 2px 2px #888888;
	display: inline-block;

}

.itemPage .itemDescription {
	font-size: 13px;
	margin-left: 65px;
	margin-top: 80px;
	margin-right: 400px;
	position:static;

}

.itemPage .itemAvailability {

	font-size: 23px;
	margin-left: 65px;
	margin-top: 40px;
	margin-right: 400px;
	position:static;

}

.itemPage .itemPrice {
	font-size: 23px;
	margin-left: 65px;
	margin-top: 40px;
	margin-right: 400px;
	position:static;

}

.itemPage .rentItemDiv {
	font-size: 23px;
	margin-left: 65px;
	margin-top: 40px;
	margin-right: 400px;
	position:static;
}

.itemPage .rentItemDiv .bookingCalendarDiv {
	font-size: 23px;
	margin-left: 85px;
	margin-top: 40px;
	margin-right: 400px;
	position:static;
}

.itemPage .rentItemDiv .bookItemButton {
	font-size: 23px;
	margin-left: 85px;
	margin-top: 40px;
	margin-right: 400px;
	position:static;
}

